go 1.24.0

use (
	./go-design-optimsize-project
	./go-project-layout-demo
	./how-build-Observability-systems/tracer-system/jaeger-install/src/jaeger
	./std-go-web-server
	./unit_test_demo
	how-build-Observability-systems/tracer-system/jaeger-demo
	how-build-Observability-systems/tracer-system/jaeger-install/src/jaeger/examples/hotrod
)
